<%= form_with(model: gene_product, class: "contents") do |form| %>
  <% if gene_product.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(gene_product.errors.count, "error") %> prohibited this gene_product from being saved:</h2>

      <ul>
        <% gene_product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :gene_id %>
      <%= form.collection_select :gene_id, Gene.all, :id, :name, { prompt: "Select gene" }, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  %> 
  </div>

  <div class="my-5">
    <%= form.label :type %>
    <%= form.select :type, ["Protein", "miRNA"], { prompt: "Select gene" }, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  %> 
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
