<%= form_with(model: data_source, class: "contents") do |form| %>
  <% if data_source.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(data_source.errors.count, "error") %> prohibited this data_source from being saved:</h2>

      <ul>
        <% data_source.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :type %>
    <%= form.select :type, options_for_select([["Database", "database"], ["Published Paper", "publishedPaper"]]), { class: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full' } %>
  </div>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_area :title, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :refNumber %>
    <%= form.text_field :refNumber, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :url %>
    <%= form.text_area :url, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :file_path %>
    <%= form.text_field :file_path, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

   <div class="my-5">
    <%= form.label :data_sourceable_type %>
    <%= form.select :data_sourceable_type, [['Gene', 'Gene'], ['Poly VxD', 'PolyVxD'], ['Poly variant', 'PolyVariant']], {}, { class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", id: "selectType" } %>
  </div>

  <div id="divSelects" class="my-5">
    <%= form.label :data_sourceble_id  %>  </div>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
      var selectType = document.getElementById("selectType")
      var selectGene = document.getElementById("selectGene")
      var selectPolyVariant = document.getElementById("selectPolyVariant")
      var selectPolyVxD = document.getElementById("selectPolyVxD")
      hideAndShowSelects()
      selectType.addEventListener("change",  hideAndShowSelects)
    })
      function hideAndShowSelects(){
        var selectedValue = selectType.value

        if (selectedValue === "Gene") {
            document.getElementById('divSelects').innerHTML = "<%= form.collection_select :data_sourceable_id, Gene.all, :id, :name, { prompt: "Select" }, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  %> "
        } else if (selectedValue === "PolyVariant") {
            document.getElementById('divSelects').innerHTML = "<%= form.collection_select :data_sourceable_id , PolyVariant.all, :id, :name, { prompt: "Select" },  class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  %>"
        } else if (selectedValue === "PolyVxD") {
            document.getElementById('divSelects').innerHTML = "<%= form.collection_select :data_sourceable_id , PolyVxD.all, :id, :name, { prompt: "Select" },  class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  %>" 

        }
      }

  </script>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
