<%= form_with(model: poly_vx_d, class: "contents") do |form| %>
  <% if poly_vx_d.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(poly_vx_d.errors.count, "error") %> prohibited this poly_vx_d from being saved:</h2>


      <ul>
        <% poly_vx_d.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="my-5">
    <%= form.label "Poly Variant" %>
    <%= form.collection_select :poly_variant_id, PolyVariant.all, :id, :name, { }, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  %> 
  </div>
  
  <div class="my-5">
    <%= form.label "Disorder" %>
    <%= form.collection_select :disorder_id, Disorder.all, :id, :name, { }, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  %> 
  </div>

  <div class="my-5">
    <%= form.label "Scoring machine" %>
    <%= form.collection_select :scoring_machine_id, ScoringMachine.all, :id, :name, { }, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  %> 
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
