<%= form_with(url: poly_variants_path, local: true, method: 'get', class: 'w-full') do |form| %>
  <div class="flex items-center justify-between" data-controller="form">
    <%= form.search_field :search, placeholder: 'Wyszukaj nazwę programu', class: '', value: params[:search_text], name: 'search_text' %>

    <%= form.select :category, options_for_select(['Option 1', 'Option 2'], selected: params[:category]), { prompt: 'Select a category' }, class: 'mb-0 ml-2', data: { action: "change->form#replace_form" } %>

    <% if params[:category] == 'Option 1' %>
      <%= "afa" %>
    <% elsif params[:category] == 'Option 2' %>
      <%= "adfds" %>
    <% else %>
      <%= 'placeholder_text' %>
    <% end %>

    <%= form.submit 'Search', class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
<% end %>
