<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
<% end %>

<div class="flex justify-between items-center">
  <h1 class="font-bold text-4xl">Poly variants</h1>
  <%= link_to "New poly variant", new_poly_variant_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
</div>

<div>
  <%= search_form_for @q, url: search_poly_variants_path  do |f| %>
    <div>
      <div>
        <%= f.select :m, options_for_select([["Any", "or"], ["All", "and"]], params[:q]&.dig(:m)), { include_blank: false } %>
      
        <%= f.label :field_name_cont, "Search by Field" %>
        <%= f.select :name_cont, options_for_select([["PolyVariant Name", "name"], ["Gene Name", "genes_name"], ["GeneProduct Name", "genes_gene_products_name"], ["Protein Name", "genes_gene_products_proteins_name"], ["MiRNA Name", "genes_gene_products_mi_rnas_name"], ["Disorder Name", "disorders_name"]], params[:q]&.dig(:g)), { include_blank: false } %>
      </div>
      <div>
        <%= f.label :name_cont, "Contains" %>
        <%= f.text_field :name_cont, class: "form-input mt-1 block w-full" %>
      </div>
    </div>
    <div>
      <%= f.submit "Search", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
  <% end %>
</div>

<%= form_with(model: @poly_variant, url: hello_test_poly_variants_path) do |form| %>
  <%= form.submit "SUBMIT TEST", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
<% end %>


<div id="testowe_id">
  SIEMANO
</div>


<br>
<div>
  <table class="w-4/5 table-auto border-collapse border border-gray-800">
      <tr>
    <thead class="bg-gray-200">
        <th class="px-4 py-2">PolyVariant Name</th>
        <th class="px-4 py-2">GeneProduct Name</th>
        <th class="px-4 py-2">Disorder Name</th>
        <th class="px-4 py-2">Score numeric_value</th>
        <th class="px-4 py-2">Score perceptual_value</th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <% @poly_variants.each do |poly_variant| %>
        <tr>
        <% poly_variant.genes.each do |gene| %>
          <% gene.gene_products.each do |gene_product| %>
              <td class="px-4 py-2 border border-gray-800"><%= poly_variant.name %></td>
              <% if gene_product.type = "Protein" %>
                <td class="px-4 py-2 border border-gray-800"><%= gene_product.protein.name %></td>
              <% else %>
                <td class="px-4 py-2 border border-gray-800"><%= gene_product.mi_rna.name if gene_product.mi_rna %></td>
                <td class="px-4 py-2 border border-gray-800"></td>
              <% end %>
          <% end %>
          <% @poly_vx_ds.each do |poly_vx_d| %>
            <% @disorders.each do |disorder| %>
              <% if poly_vx_d.poly_variant_id == poly_variant.id and poly_vx_d.disorder_id == disorder.id%>
                <td class="px-4 py-2 border border-gray-800"><%= disorder.name %></td>
              <% end %>
            <% end %>
            <% @scoring_machines.each do |scoring_machine| %>
              <% if poly_vx_d.poly_variant_id == poly_variant.id and poly_vx_d.scoring_machine_id  == scoring_machine.id %>
                <td class="px-4 py-2 border border-gray-800"><%= scoring_machine.numeric_value  %></td>
                <td class="px-4 py-2 border border-gray-800"><%= scoring_machine.perceptual_value  %></td>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
         </tr>
      <% end %>
    </tbody>
  </table>
</div>