<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
<% end %>

<div class="flex justify-between items-center">
  <h1 class="font-bold text-4xl">Poly variants</h1>
  <%= link_to "New poly variant", new_poly_variant_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
</div>

<div>
  <%= render partial: 'search_form' %>
</div>
      


<%= form_with(model: @poly_variant, url: hello_test_poly_variants_path) do |form| %>
  <%= form.submit "SUBMIT TEST", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
<% end %>


<div id="testowe_id">
  SIEMANO
</div>


<br>
<div>
  <table class="w-4/5 table-auto border-collapse border border-gray-800">
    <thead class="bg-gray-200">
      <tr>
        <th class="px-4 py-2">PolyVariant Name</th>
        <th class="px-4 py-2">GeneProduct Name</th>
        <th class="px-4 py-2">Disorder Name</th>
        <th class="px-4 py-2">Score numeric_value between poly variant and disorder</th>
        <th class="px-4 py-2">Score perceptual_value between poly variant and disorder</th>
        <th class="px-4 py-2">Score value between poly varaint and data source</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <% @poly_variants.each do |poly_variant| %>
        <tr>
          <td class="px-4 py-2 border border-gray-800"><%= poly_variant.name %></td>
          <% if poly_variant.genes.present? %>
            <% gene_product = poly_variant.genes.first.gene_products.first %>
            <% if gene_product.present? %>
              <% if gene_product.type == "Protein" %>
                <td class="px-4 py-2 border border-gray-800"><%= gene_product.protein.name %></td>
              <% else %>
                <td class="px-4 py-2 border border-gray-800"><%= gene_product.mi_rna.name %></td>
              <% end %>
            <% else %>
              <td class="px-4 py-2 border border-gray-800"></td>
            <% end %>
          <% else %>
            <td class="px-4 py-2 border border-gray-800"></td>
          <% end %>
          <% if @disorders.present? %>
            <% disorder = @disorders.find { |d| @poly_vx_ds.any? { |p| p.poly_variant_id == poly_variant.id && p.disorder_id == d.id } } %>
            <% if disorder.present? %>
              <td class="px-4 py-2 border border-gray-800"><%= disorder.name %></td>
            <% else %>
              <td class="px-4 py-2 border border-gray-800"></td>
            <% end %>
          <% else %>
            <td class="px-4 py-2 border border-gray-800"></td>
          <% end %>
          <% if @scoring_machines.present? %>
            <% scoring_machine = @scoring_machines.find { |sm| @poly_vx_ds.any? { |p| p.poly_variant_id == poly_variant.id && p.scoring_machine_id == sm.id } } %>
            <% if scoring_machine.present? %>
              <td class="px-4 py-2 border border-gray-800"><%= scoring_machine.numeric_value %></td>
              <td class="px-4 py-2 border border-gray-800"><%= scoring_machine.perceptual_value %></td>
            <% else %>
              <td class="px-4 py-2 border border-gray-800"></td>
              <td class="px-4 py-2 border border-gray-800"></td>
            <% end %>
          <% else %>
            <td class="px-4 py-2 border border-gray-800"></td>
            <td class="px-4 py-2 border border-gray-800"></td>
          <% end %>
         <td class="px-4 py-2 border border-gray-800">
        <% poly_variant.scores.where(scoreable_id: poly_variant.id).each do |score| %>
          <%= score.score_value %>
        <% end %>
        </td>
        <td><%= link_to "Show this Poly Variant", poly_variant, class: "rounded-lg py-3 px-3 bg-gray-100 inline-block font-medium" %></td>
        </tr>
      <% end %>
