<div id="<%= dom_id gene %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= gene.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= gene.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Chromosomenumber:</strong>
    <%= gene.chromosomeNumber %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Position:</strong>
    <%= gene.position %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Loalization:</strong>
    <%= gene.loalization %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this gene", gene, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this gene", edit_gene_path(gene), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
