<div class="border border-teal-400 w-120 p-20 text-center rounded-lg shadow-md  m-10" id="<%= dom_id gene %>">
  <p class="my-5">
      <h1 class="font-medium mb-2 text-lg text-center">Name:</h1>
      <h2 class="text-xl text-center"><%= gene.name %></h2>
  </p>
    <p class="my-5">
        <strong class="block font-medium mb-1">Description:</strong>
        <span class="text-gray-700"><%= gene.description %></span>
    </p>
    <p class="my-5">
        <strong class="block font-medium mb-1">Chromosome Number:</strong>
        <span class="text-gray-700"><%= gene.chromosomeNumber %></span>
    </p>
    <p class="my-5">
        <strong class="block font-medium mb-1">Position:</strong>
        <span class="text-gray-700"><%= gene.position %></span>
    </p>
    <p class="my-5"> 
        <strong class="block font-medium mb-1">Localization:</strong>
        <span class="text-gray-700"><%= gene.loalization %></span>
    </p>

  <% if @gene_products %>
    <% @gene_products.each do |gene_product| %>
      <% if gene_product.gene_id == gene.id %>
          <%= render partial: 'gene_products/gene_product', locals: { gene_product: gene_product } %>
      <% end %>
    <% end %>
  <% end %>
    <% if action_name != "show" %>
        <%= link_to "Show this gene", gene, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        <%= link_to "Edit this gene", edit_gene_path(gene), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
        <hr class="mt-6">
    <% end %>
</div>
