<p class="my-5">
    <h1 class="font-medium mb-2 text-lg text-center">Name:</h1>
    <h2 class="text-xl text-center"><%= gene.name %></h2>
</p>
<div class="border border-teal-400 w-120 p-20 text-center rounded-lg shadow-md  m-10" id="<%= dom_id gene %>">
    <p class="my-5">
        <strong class="block font-medium mb-1">Description:</strong>
        <span class="text-gray-700"><%= gene.description %></span>
    </p>
    <p class="my-5">
        <strong class="block font-medium mb-1">Chromosome Number:</strong>
        <span class="text-gray-700"><%= gene.chromosomeNumber %></span>
    </p>
    <p class="my-5">
        <strong class="block font-medium mb-1">Position:</strong>
        <span class="text-gray-700"><%= gene.position %></span>
    </p>
    <p class="my-5"> 
        <strong class="block font-medium mb-1">Localization:</strong>
        <span class="text-gray-700"><%= gene.loalization %></span>
    </p>
</div>

<div class="grid grid-cols-2 gap-6">
  <% if @gene_products %>
    <% @gene_products.each do |gene_product| %>
      <% if gene_product.gene_id == gene.id %>
        <div class="border border-teal-400 p-6 m-10 text-center rounded-lg shadow-md hover:shadow-lg p-6">
          <h1 class="font-medium mb-2 text-lg">Name:</h1>
          <h2 class="text-xl"><%= gene_product.name %></h2>
          <% if gene_product.type == "Protein" && @proteins %>
            <% @proteins.each do |protein| %>
              <div class="border border-teal-400 p-6 m-10 text-center rounded-lg shadow-md hover:shadow-lg p-6">
                <p class="my-5"> 
                  <strong class="block font-medium mb-1">Protein name:</strong>
                  <span class="text-gray-700"><%= protein.name %></span>
                </p>
                <p class="my-5"> 
                  <strong class="block font-medium mb-1">Protein description:</strong>
                  <span class="text-gray-700"><%= protein.description %></span>
                </p>
              </div>
            <% end %>
          <% elsif gene_product.type == "miRNA" && @miRNAs %>
            <% @miRNAs.each do |miRNA| %>
              <div class="border border-teal-400 p-6 m-10 text-center rounded-lg shadow-md hover:shadow-lg p-6">
                <p class="my-5">    
                  <strong class="block font-medium mb-1">miRNA name:</strong>
                  <span class="text-gray-700"><%= miRNA.name %></span>
                </p>
                <p class="my-5"> 
                  <strong class="block font-medium mb-1">miRNA description:</strong>
                  <span class="text-gray-700"><%= miRNA.description %></span>
                </p>
              </div>
            <% end %>
          <% end %>
          <%= link_to "Show this gene product", gene_product, class: "rounded-lg py-3 px-3 bg-gray-100 inline-block font-medium" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>


<div>
    <% if action_name != "show" %>
        <%= link_to "Show this gene", gene, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        <%= link_to "Edit this gene", edit_gene_path(gene), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
        <hr class="mt-6">
    <% end %>
</div>
