<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Genes</h1>
    <%= link_to "New gene", new_gene_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <table class="w-4/5 table-auto border-collapse border border-gray-800">
      <thead class="bg-gray-200">
        <tr>
          <th class="px-4 py-2">Name</th>
          <th class="px-4 py-2">Description</th>
          <th class="px-4 py-2">Chromosome number</th>
          <th class="px-4 py-2">Position</th>
          <th class="px-4 py-2">Localization</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <% @genes.each do |gene| %>
          <tr>
            <td class="px-4 py-2 border border-gray-800"><%= gene.name %></td>
            <td class="px-4 py-2 border border-gray-800"><%= gene.description %></td>
            <td class="px-4 py-2 border border-gray-800"><%= gene.chromosome_number %></td>
            <td class="px-4 py-2 border border-gray-800"><%= gene.position %></td>
            <td class="px-4 py-2 border border-gray-800"><%= gene.localization %></td>
            <% if action_name != "show" %>
              <td><%= link_to "Show this gene", gene, class: "rounded-lg py-3 px-3 bg-gray-100 inline-block font-medium" %></td>
              <td><%= link_to "Edit this gene", edit_gene_path(gene), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
